RewriteEngine On

RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)\.html$ /$1.php [L,R=301]

ErrorDocument 404 /404.php

<FilesMatch "\.md$">
    Require all denied
</FilesMatch>
<Files "LICENSE">
    Require all denied
</Files>
<Files "server.js">
    Require all denied
</Files>
<FilesMatch "^(\.env|package\.json|package-lock\.json)$">
    Require all denied
</FilesMatch>